@import "./_base/module.scss";
@import "./_base/style.scss";
@import "./_base/reset.scss";
@import "./_base/prefix.scss";
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  color:white;
  margin:40px;
  font-weight: 500;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


